<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Airline_Ticketing" verbose="1"><!-- parallel="tests" thread-count="4" -->

	<test name="Airline Shorted Route">
		<parameter name="origin" value="MI" />
		<parameter name="destination" value="CA" />
		<classes>
			<class name="com.airlineticketing.test.VerifyFlightDetails">
				<methods>
					<include name="pickShortestRoute" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Airline Shorted And Chepest Route">
		<parameter name="origin" value="MI" />
		<parameter name="destination" value="CA" />
		<classes>
			<class name="com.airlineticketing.test.VerifyFlightDetails">
				<methods>
					<include name="pickShortestThenChepestRoute" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Book Ticket">
		<parameter name="userId" value="1235" />
		<parameter name="userName" value="User_1" />
		<parameter name="extraBaggage" value="20" />
		<parameter name="promoCode" value="10" />
		<classes>
			<class name="com.airlineticketing.test.VerifyFlightDetails">
				<methods>

					<include name="bookTicket" />
				</methods>
			</class>
		</classes>
	</test>


</suite>